<ion-view ng-controller="FeedBackCtrl" view-title="FEEDBACK" cache-view="false">
 <ion-nav-bar align-title="middle" class="bar-stable"> 
  <ion-nav-title class="brd_width">
    <span class="bar-stable"><strong class="p1">FEEDBACK</strong></span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div ng-controller="LoginCtrl">
      <button class="button button-icon  ion-power" style="color: #fff" ng-click="logout()">
      </button>
    </div>
  </ion-nav-buttons>
 </ion-nav-bar> 
	<div class="bar bar-subheader">
	  <h2 class="title">Did you like the food?</h2>
	</div> 
  <ion-content class="back-color rate has-subheader">   
    
   <div class="quote">Give your valuable feedback to evaluate our products</div> 
   <ionic-ratings ratingsobj='ratingsObject' class="ratings">&nbsp;</ionic-ratings>
   <!-- <div class="test">
    <img src="img/Canteen-Feedback-Emoji-PNG-4.png" style="width:90px;">
    <img src="img/Canteen-Feedback-Emoji-PNG-4.png" style="width:90px;margin-left: -35px;">
    <img src="img/Canteen-Feedback-Emoji-PNG-4.png" style="width:90px;margin-left: -35px;">
    <img src="img/Canteen-Feedback-Emoji-PNG-4.png" style="width:90px;margin-left: -35px;">
    <img src="img/Canteen-Feedback-Emoji-PNG-4.png" style="width:90px;margin-left: -35px;">
   </div> -->
  </ion-content>
   <div class="bar bar-footer bar-stable" ng-click="submit()">
      <span class="title"><strong class="p1">SUBMIT</strong></span>
    </div>
</ion-view>