<!-- <ion-view hide-nav-bar="true" view-title="login" cache-view="false">
  <ion-content class="back-image" >

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="row">
      <div class="col col-35"></div>
      <div class="col col-30">
        <img src="img/habitos.png" height="150px" width="100%">
      </div>
      <div class="col col-35"></div>
    </div>

    <center>
        <h4 style="color:#EE5423">Feedback</h4>
    </center>
   
    <form name="delivery" ng-controller="LoginCtrl">

      <br>

      <div class="item item-input group1">
         <span class="ion-android-person  icon-color"></span>
         &nbsp;&nbsp; 
         <input type="text" align="center" placeholder="Enter School Name" ng-Required="true"  ng-model="user.username">
      </div>
     
 
      <div class="group2 ">
        <a class="button button-block button-darker font1" ng-disabled="delivery.$invalid" ng-click='login()'>
        <b>VERIFY</b></a>
      </div>
    </form> 

 </ion-content>
</ion-view> -->

<ion-view view-title="login" cache-view="false" class="back-image">
    
  <ion-content  overflow-scroll="true" has-bouncing="false">
  <br>
  <br>
  <br>  
    <div class="feed-logo" style="text-align: center;">
        <img src="img/habitos.png" height="150px">
    </div>

    

    <center>
        <h4 class="logo-h4" style="color:#EE5423">Feedback</h4>
    </center>

    <form name="delivery" ng-controller="LoginCtrl" novalidate>

      <br>

      <div class="item item-input group1">
         <span class="ion-android-person  icon-color"></span>
         &nbsp;&nbsp; 
         <input type="text" align="center" placeholder="User Code" ng-Required="true"  ng-model="user.username">
      </div>
     
 
      <div class="group2 ">
        <a class="button button-block button-darker font1" ng-disabled="delivery.$invalid" ng-click='login()'>
        <b>VERIFY</b></a>
      </div>
    </form> 

 </ion-content>
</ion-view>