/* Empty. Add your own CSS if you like */
.bar-stable{
  background-color: #262f3a !important;
  color:#fff;
}

.ionic_ratings .icon {
font-size: 70px;
}

.back-image{
 /*background-image: url('../img/bg.jpg');*/
 background-color:#e5e6e8 !important;
}
.back-color{
  background-color: #fff;
}

.font1{
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
  color:#ffffff; 
}

.button-darker.font1{
   border-color:#444444;
   background-color:#444444;
   color: #fff;
   border-radius: 10px 10px !important;
}

.button-darker.font1.activated{
  border-color:#a2a2a2;
  background-color:#262626;
  color: #fff;
  border-radius: 10px 10px !important;
}

.group1{
  position:relative; 
  margin-bottom: 10px; 
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px 10px; 
}
.group2{ 
  position:relative; 
  margin-top: 20px; 
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px 10px;
}

.button.button-positive{
  background-color: #2a2c27 !important;
  border-radius: 18px 18px 18px 18px !important;
}

.item-input{
    padding: 6px 10px 5px 16px !important;
}

.item-input input{
  padding-right: 0px !important;
}



.bar-stable{
  background-color: #262f3a !important;
  color:#fff;
}

.button-darker {
    border-color:#444444;
    background-color:#444444;
    color: #fff;
    border-radius: 10px 10px !important;
}

.button-positive{
    background-color: #90C636 !important;
    border-radius: 18px 18px 18px 18px !important;
}

.button-danger{
    background-color: #676A6C !important;
    color:white;
    border-radius: 18px 18px 18px 18px !important;
}

.icon-color{
  color:  #EE5B2B;
  font-size: 24px;
}

.card {
    padding-top: 1px;
    padding-bottom: 1px;
}
.padding{
  padding: 5%!important;
}

.center_align {
  text-align: center;
}

.font {
  font-family: 'Rubik', sans-serif !important;
}

/*.rate .scroll{
	display: flex;
	justify-content:center;
	align-items:center;
}*/

.rate.has-subheader{
	display: flex;
	justify-content:center;
	align-items:center;
}

/*.ratings{
  margin-top: -40px;
}*/

.bar.bar-stable .title {
    color: #fff;
}


div.ratings{
  margin-top: 5px;
}

.icon.ion-happy-outline{
	padding:5px;
}
.icon.ion-happy{
	padding:5px;
}
/*div.title.title-left.header-item{
  left: 65px;
  right: 65px;
  text-align: center;
}*/

.bar.bar-subheader{
  background: #c3c3c3;
}

.back-color.rate{
  background:none;
}

.ionic_toast_bottom{
  bottom: 50px;
  background:cadetblue;
}
.toast_section.ionic_toast_bottom.ionic_toast_sticky{
  bottom: 50px;
  /*background:transparent;*/
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.toast_section.ionic_toast_bottom{
 bottom: 50px;
 /*background:transparent;*/
 /*color:black;*/
 width: 75%;
 text-align: center;
 margin-left: auto;
 margin-right: auto; 
}

.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}

div.quote{
    margin-bottom: 15px;
    color: #1f5891;
    font-size: 1.6rem;
    text-align: center;
}


/*div.row{
  display: flex;
  align-items:center;
}*/
@media only screen and (max-width: 800px) {
	.platform-android.ionic_ratings.icon {
        font-size: 120px;
	}
  .platform-ios.ionic_ratings.icon{
       font-size: 120px;
  }
  .platform-ios div.quote{
    font-size: 25px; 
  }
  .platform-android div.quote{
    font-size: 25px; 
  }
  .platform-android div.quote{
    display:block;
    font-size: 19px;
    text-align: center;
    color: #1f5891;
  }
  .platform-ios div.quote{
   display:block;
   /*font-size: 18px;*/
   text-align: center;
   color: #1f5891;
  }

}
@media only screen and (max-width: 480px) {
	.platform-android.ionic_ratings.icon {
        font-size: 100px;
	}
  .platform-ios.ionic_ratings.icon{
       font-size: 100px;
  }
  .platform-ios div.quote{
    font-size: 18px;
  }
  .platform-android div.quote{
    display:block;
    font-size: 19px;
    text-align: center;
    color: #1f5891;
  }
  .platform-ios div.quote{
   display:block;
   /*font-size: 18px;*/
   text-align: center;
   color: #1f5891;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .ionic_ratings .icon {
      font-size: 85px;
  }
  form{
    padding: 50px;
  }
  .feed-logo img{
    height: 250px;
  }
  .logo-h4{
    font-size: 24px;
  }
  div.ratings{
   margin-top: 10px;
  }
  div.quote{
    display:block;
    font-size: 19px;
    text-align: center;
    color: #1f5891;
  }

}



.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}

.loading-container .loading{
  padding: 20px;
  border-radius: 5px;
   background-color: transparent;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}